p{
    color: blue;
    background-color: black;
    margin: 100px;
    padding: 20px;
    border: 2px solid yellowgreen;
    border-radius: 10px;
    text-align: center;
    text-align: justify;
    
}
h3{
    color: brown;
}
